

main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 50%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 4rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #029743;
}

thead th:hover {
    color: #029743;
}

thead th.active span.icon-arrow{
    background-color: #029743;
    color: #029743;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #029743;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
   
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}

.form-box {
    position: relative;
    width: 400px;
    height: 500px;
    background:transparent;
    border: 2px solid 	black;
    border-radius: 20px;
    backdrop-filter: (5px);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
}

.inputbox {
    position: relative;
    margin: 10px 0;
    width: 310px;
    border-bottom: 2px solid black;
}

.inputbox:hover{
    border-bottom: 2px solid  	#ffffff;
}


.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: 	black;
}

.btn1{
    font-family:Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 1px 30px;
    border-radius: 7px;
    opacity:90%;
    margin-left:5%;
    background:#a9b6b5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform: scale(1); 
    &:hover {
      transform: scale(1.1); 
   
    }
}



.menubtn{
    height: 5vh;
    width: 100%;
    outline: none;
    border-style: none;
    background-color: transparent;

    font-size: 1.4rem;
    font-weight: bold;

    opacity: 80%;
    text-align: center;


    transition: 0.5s;
    padding: 2px 30px;
    margin: 2px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}
    
.divbtn{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform: scale(1); 
    &:hover {
      transform: scale(1.1); 
   
    }
}


section {
    margin-top: 1%;
    display: flex;
  
    width: 100%;
    background:#ffffff;

    background-size: cover;


    
}


.tete{
    width: 60vh;
    height: 7vh;
    outline: none;
    border: none;

    font-weight: bold;
    
    background-color:#a9e19e;
    opacity: 80%;
   
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
}

.home {
    background-color: transparent;
    opacity: 90%;
    background: transparent;
    transition: transform 0.3s ease;
    transform: scale(1); 
}

.home:hover {
    transform: scale(1.1);  
    color: #013237;  
}

.home:active {
    /* Ajoutez ici le style que vous souhaitez appliquer au bouton lorsqu'il est activé */
    /* Par exemple, vous pouvez ajuster la couleur de fond ou la couleur du texte */
    background-color: #ccc;
    color: #fff;
}



.fin {
    width: 100vh;
    height: 7vh;
    background: #aba9a9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.fin span {
    color: #029743;
    font-weight: bold;
}


.ct1{
    
    opacity:90%;
    transition: transform 0.3s ease;
    transform: scale(1); 
    &:hover {
      transform: scale(1.1);  
  color: #006b21;
  
     
    
    }
}

.contenue0 {
    width: 80%;
    min-height: 50vh;
    display: flex;
    margin-top: 110px;
    margin-left: 100px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.contenue1 h2 {
    font-size: 3.5rem;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #970216;
}

.contenue1 p {
    font-size: 27px;
}

.contenue1 span {
    color: #970216;
}




.debut::after {
    content: '';
    width: 80vh;
    height: 60vh;
  
    bottom: 0;
    background-repeat: no-repeat;
    /*  animation-name: animate;
    animation-duration: 30s;
    animation-play-state: initial;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0% {
        background-image: url(image/debut.png);
    }
    20% {
        background-image: url(image/summer.png);
    }
    40% {
        background-image: url(image/sexy.png);
    }
    60% {
        background-image: url(image/debut2.png);
    }
    80% {
        background-image: url(image/debut3.png);
    }
    100% {
        background-image: url(image/summer.png);
    }*/
}

.bt{
    color: rgb(255, 255, 255);
    text-decoration: none;
  
    transition: transform 0.3s ease;
    transform: scale(0.9); 
    &:hover {
      transform: scale(1);  
  color: #006b21;
  
     
    }
}

.mod{
    background: #2C2D30;
    background-color:#2C2D30;
}

.bt2{
    color: rgb(0, 0, 0);
    text-decoration: none;
  
    transition: transform 0.3s ease;
    transform: scale(1); 
    &:hover {
      transform: scale(1.1);  
  color: #006b21;
  
     
    }
}

.bt3{
    color: rgb(0, 0, 0);
    text-decoration: none;
  
    transition: transform 0.8s ease;
    transform: scale(1); 
    &:hover {
      transform: scale(1.1);  
  color: #217e38;
  
     
    }
}



.bt5{
 
    text-decoration: none;
   margin-top: 1%;
   
   text-align: center;
    transition: transform 0.3s ease;
    transform: scale(1); 
    &:hover {
        transform: scale(1.1);  
      color: #000000;
   
     
    }
}

.bt4{
 

    transition: transform 0.3s ease;
    color: #000000;
    transform: scale(1);
    &:hover {
        transform: scale(1.1);  
      color: #970216;
     
    }
}

.bt6{
 

    transition: transform 0.3s ease;
  

    &:hover {
    
      color: #000000;
     
    }
}